<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <div id="main">
            <!-- Sidebar -->
            <%- include('../partials/_navigation') %>
            
            <!-- Page content-->
            <div class="row">
                <div class="col">
                    
                    <h1 class="mb-4 position-absolute" id="naslov">Blog</h1>
                    <div class="text-right position-relative" id="dodaj">
                        <a href="/articles/new" class="btn btn-primary ">New Article</a>
                    </div>
                    
                    <% clanak.forEach(article => { %>
                        <div class="card mt-4">
                            <div class="card-body">
                                <h4 class="card-title"><%= article.title %></h4>

                                <div class="card-subtitle text-muted mb-2">
                                    <%= article.createdAt %>
                                </div>

                                <div class="card-text mb-2">
                                    <%= article.description %>
                                </div>
                                <a href="/articles/<%= article.id %>" class="btn btn-secondary mt-2">Read More</a>

                                <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-danger mt-2">Delete</button>
                            </form>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/custom.js"></script>
</body>
</html>


